  .link {
    color: white;
    font-size: 14px;
  }
  .link:hover {
    color: white;
    text-decoration: none;
  }

  .cart { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}
.flex-h {
    display: flex;
    flex-direction: row;
}
.flex-v {
    display: flex;
    flex-direction: column;
}
.cart-item { 
    width: 100%;
    display: flex; 
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.cart-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.cart-right {
    align-items: center;
}
.qty {
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
}
.hover:hover {
    cursor: pointer;
    transform: scale('0.1');
}
.border-span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09) !important;
    width: 100%;
    margin: 5px 0px;
}
.ml-05 {
    margin-left: 8px;
}
.mr-05 {
    margin-right: 8px;
}
.br {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.bl {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.p {
    padding: 4px;
} 
.text-disabled {
    opacity: 0.8;
}
.text-disabled:hover{
    cursor: default;
}